{% extends 'layout/base_layout.html' %}
{% load static %}
{% block main %}

<head>
    <style>
        .footer{
            position:bottom ;
            margin-top:100px;
            
            height:1px;
            width: 1382px;
            margin-left:-150px;
        }.footer-text{
            margin-left:20px;
        }
    </style>
</head>
<div class="cointainer">
    <div class="row">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 mr-auto">Push Pertama Gitlab</h3>
                    <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#tambahdata">Tambah Data</button>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="tabel_rifqi32">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Gambar Icon</th>
                                <th scope="col">Judul Icon</th>
                                <th scope="col">Deskipsi Icon</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>   
                           {% for data_icon in data %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td><img src="{{ data_icon.icon.url }}" style="height: 80px; width: auto;" alt=""></td>
                                <td>{{ data_icon.judul_icon }}</td>
                                <td>{{ data_icon.deskripsi_icon }}</td>
                                <td>
                                <button type="button" class="btn btn-warning"data-bs-toggle="modal" data-bs-target="#edit_data_{{ data_icon.id }}">Edit</button>
                                    <!-- modal edit -->
                                    <div class="modal" tabindex="-1" id="">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary text-white">
                                                    <h5 class="modal-title">Ubah Icon Pelayanan</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            <div class="modal-body">
                                                <form action="" method="POST">
                                                {% csrf_token %}
                                                    <div class="modal-body">
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label for="" class="col-sm-2 col-form-label">Judul Icon</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" value="{{ data_icon.judul_icon }}" name="judul_icon" placeholder="Isi Judul Icon" required >
                                                            </div>
                                                        </div>
                                                        <div class="mb-3 row">
                                                            <label for="" class="col-sm-2 col-form-label">Deskipsi Icon
                                                            <div class="col-sm-10">
                                                                <input type="text" name="deskipsi_icon" value="{{ data_icon.deskipsi_icon }}" class="form-control" placeholder="Isi Deskipsi Icon" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" name="simpan">Simpan</button>
                                                    </div>
                                                </form>
                                            </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-danger" onclick="Delete_icon('{{data_icon.id}}')">Hapus</button>
                                </td>
                            </tr> 
                            {% endfor %}   
                           
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        
        </div>
    </div>
    

<!-- Modal Tambah Data -->
<div class="modal fade" id="tambahdata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal Header-->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Tambah Data Produk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <form action="{% url 'input_icon'%}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label">Gambar Icon</label>
                        <div class="col-sm-10">
                            <input type="file" name="gambar_icon" placeholder="Gambar Icon" class="form-control" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label">Judul Icon</label>
                        <div class="col-sm-10">
                            <input type="text" name="judul_icon" class="form-control" placeholder="Isi Judul Icon" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-sm-2 col-form-label">Deskipsi Icon</label>
                        <div class="col-sm-10">
                            <textarea name="deskripsi_icon" id="" class="form-control" width="100px"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="simpan">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <footer class="footer text-center text-dark mt-12">
    <div class="footer-text p-3">
        © Copyright: Rifqi
    </div>
</footer> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/Javascript">
    function Delete_icon(id) {
        Swal.fire({
            title: 'Apakah kamu yakin ingin menghapus?',
            showCancelButton: true,
            confirmButtonText: 'Konfirmasi',
            cancelButtonText: 'Batal',
            confirmButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: ` delete_icon/${id}`,
                    data: {},
                    dataType: "html",
                    timeout: 10000,
                    beforeSend: function() {
                        Swal.fire({
                            title: 'Memproses.........',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading();
                    },
                    success: function(response){
                        Swal.fire('Berhasil!', 'Kata Mereka berhasil!', 'success');
                        setTimeout(function(){
                            window.location.href = "";
                        }, 2000); 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        Swal.fire('Gagal!', 'Kata Mereka gagal!', 'error');
                    }
                });
            }
        });
    }

</script>
{% endblock %}