<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        body {
            background-color: #dcc302;
            background-image: linear-gradient(225deg, #dcc302 0%, #d21e1e 74%);
            margin-bottom: 200px;
        }
        footer {
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: #f1f1f1;
        }
        .footer-text {
            background-color: white;
        }.card{
            margin-top:80px;
            
        }h4{
            margin-top:5px;
        }
        </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">LOGIN</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" name="email" placeholder="Masukkan Username" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <div class="input-group">
                                    <input name="password" type="password" value="" class="input form-control" id="password" placeholder="Masukkan Password" required="true" aria-label="password" aria-describedby="basic-addon1" />
                                    <span class="input-group-text" onclick="togglePassword();">
                                        <i class="fas fa-eye" id="show_eye"></i>
                                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                    </span>
                                </div>
                            </div>                            

                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-dark" name="login" style="margin-bottom: 20px; margin-left: 20px; margin-right: 20px; margin-top: -10px;">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center text-dark">
        <div class="footer-text p-3">
            ©Copyright: Rifqi
        </div>
    </footer>
</body>
<script>
    function togglePassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
                document.getElementById("show_eye").classList.add("d-none");
                document.getElementById("hide_eye").classList.remove("d-none");
            } else {
                x.type = "password";
                document.getElementById("show_eye").classList.remove("d-none");
                document.getElementById("hide_eye").classList.add("d-none");
            }
        }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>
