<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapora Data Pelanggannn</title>
</head>
<body onload="window.print()" >
    <center><h2>Kasir Rifqi</h2>
    <p>Alamat : Jln. Wates KM.10, Sedayu, Bantul, DIY.  Email : rifqfarhan050@gmail.com No. +62 895 2716 7988</p>
    <hr>
    <h2>Laporan Data Pelanggan</h2></center>
    <hr>
<center>
<table class="table-lap" border="1"cellpadding="10">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Pelanggan</th>
                <th scope="col">Alamat Pelanggan</th>
                <th scope="col">No Telp</th>
            </tr>
        </thead>
        <tbody>
        {% for data_pelanggan in data %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ data_pelanggan.nama_pelanggan }}</td>
                <td>{{ data_pelanggan.alamat_pelanggan }}</td>
                <td>{{ data_pelanggan.no_telp_pelanggan }}</td>
                
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</center>

</body>
</html>