{% extends 'layout/base_layout.html' %}
{% load static %}
{% block main %}

<div class="cointainer">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="mb-0 mr-auto">Data Penjualan</h3>
                    <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#tambahdata">Tambah Data</button>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="tabel_rifqi32">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Tanggal Penjualan</th>
                                <th scope="col">Nama Pelanggan</th>
                                <th scope="col">Total</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data_penjualan in data %}

                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ data_penjualan.tgl_penjualan }}</td>
                                    <td>{{ data_penjualan.nama_pelanggan }}</td>
                                    <td>{{ data_penjualan.total_harga }}</td>
                                    <td>
                                        <a href="" role="button" class="btn btn-success" target="_blank">Cetak</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        <div class="col-md-1"></div>
        </div>
    </div>
    
    <!-- modal tambah produk -->
    <div class="modal fade" id="tambahdata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Tambah Data Penjualan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="form_reserv" action="" class="form_reserv" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="tgl_penjualan" class="col-sm-2 col-form-label">Tanggal Penjualan</label>
                            <div class="col-sm-10">
                                <input type="date" name="tgl_penjualan" class="form-control" required value="{% now 'Y-m-d' %}" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="nama_pelanggan_fk" class="col-sm-2 col-form-label">Nama Pelanggan</label>
                            <div class="col-sm-10">
                                <select name="nama_pelanggan_fk" id="nama_pelanggan_fk" class="form-select">
                                    {% for dt_pelanggan in data_pelanggan %}
                                    <option value="{{ dt_pelanggan.id }}">{{ dt_pelanggan.nama_pelanggan }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-12 mr-auto rounded" style="background-color: rgb(108 117 125 / 31%) !important;">
                                <div id="kt_docs_repeater_nested">
                                    <div class="form-group" style="margin-top: 40px;" data-repeater-list="frm_repeater_file">
                                        <div data-repeater-item>
                                            <div class="row attribut_indikator">
                                                <div class="col-md-8 col-12">
                                                    <label class="form-label">Pilih Paket:</label>
                                                    <div class="input-group pb-3">
                                                        <select class="form-control mb-2 mb-md-0 paket_repeater" name="paket">
                                                            <option value="">Pilih barang</option>
                                                            {% for dt_barang in barang %}
                                                            <option value="{{ dt_barang.nama_produk }}">{{ dt_barang.nama_produk }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <button class="border border-secondary btn btn-icon btn-flex btn-danger mt-md-0" data-repeater-delete type="button">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-6">
                                                    <div class="item-list-2">
                                                        <label class="form-label">Jumlah Unit:</label>
                                                        <div class="dz-stepper border-1">
                                                            <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                                                <input class="touchspin form-control" type="text" value="1" name="frm_jumlah">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <button type="button" class="btn btn-sm btn-flex btn-success" data-repeater-create>
                                            <i class='bx bx-plus'></i> Add Paket
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" onclick="save_form(this)" class="btn btn-primary">Simpan</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var $repeater = $('#kt_docs_repeater_nested').repeater({
        initEmpty: false,
        defaultValues: {
            'text-input': 'foo'
        },
        show: function () {
            $(".touchspin").TouchSpin({
                buttondown_class: "btn btn-danger mx-1",
                buttonup_class: "btn btn-success mx-1",
                initval: 1,
                min: 1,
                step: 1
            });
            $(".touchspin").on('input', function() {
                var sanitizedValue = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(sanitizedValue);
            });
            $(this).slideDown();
        },
        hide: function (deleteElement) {
            var that = this; 
            Swal.fire({
                title: 'Anda yakin ingin menghapus atribut ini?',
                showCancelButton: true,
                confirmButtonText: 'Hapus',
            }).then((result) => {
                if (result.isConfirmed) {
                    $(that).slideUp(deleteElement); 
                }
            });
        },
        ready: function () {
            $(".touchspin").TouchSpin({
                buttondown_class: "btn btn-danger mx-1",
                buttonup_class: "btn btn-success mx-1",
                initval: 1,
                min: 1,
                step: 1
            });
            $(".touchspin").on('input', function() {
                var sanitizedValue = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(sanitizedValue);
            });
        }
    });
});

function save_form(e) {
    var jml_attribut = $('.attribut_indikator').length;
    var formData = new FormData($("#form_reserv")[0]);
    if (jml_attribut > 0) {
        formData.append("attribut", JSON.stringify($('#kt_docs_repeater_nested').repeaterVal().frm_repeater_file));
        submit_form(formData);
    } else {
        submit_form(formData);
    }
}

function submit_form(arg) {
    console.log(arg)
    $.ajax({
        type: 'POST',
        headers: { "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val() },
        url: `{% url 'input_penjualan'%}`, 
        data: arg,
        processData: false,
        contentType: false,
        dataType: 'json',
        beforeSend: function() {
            Swal.fire({
                title: 'Processing...',
                text: 'Reservasi sedang di proses',
                allowOutsideClick: false,
                showConfirmButton: false,
                willOpen: () => {
                    Swal.showLoading();
                }
            });
        },
        success: function(data) {
            Swal.fire({
                title: "Good job!",
                text: "Reservasi berhasil!",
                icon: "success",
                showConfirmButton: false
            });
            setTimeout(function() {
                window.location.href = "{% url 'read_penjualan' %}";
            }, 1000);
        },
        complete: function() {
            Swal.close();
        },
        error: function (xhr, status, error) {
            try {
                Swal.fire({
                    title: "Error!",
                    text: xhr.responseJSON.message,
                    icon: "error"
                });
            } catch (error) {
                Swal.fire({
                    title: "Error!",
                    text: "Gagal Reservasi",
                    icon: "error"
                });
            }
        }
    });
}
</script>
{% endblock %}
