{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link rel="shortcut icon" href="//cdn.perfmatters.io/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-touchspin/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        body {
          background-color: #dcc302;
          background-image: linear-gradient(225deg, #dcc302 0%, #d21e1e 74%);
          margin-bottom:1px;
        }
        footer {
            position: absolute bottom;
            margin-top:50px;
            width: 100%;
            background-color: #f1f1f1;
        }
        .footer-text {
            background-color: white;
        }.card{
            margin-top:80px;
            
        }h4{
            margin-top:5px;
        }
    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
        <h4 class="form-label">Aplikasi Kasir</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=>Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><a class="dropdown-item" href="{% url 'read_user' %}">Master User</a></li>
        
            <li><a class="dropdown-item" href="{% url 'read_produk' %}">Master Produk</a></li>
            <li><a class="dropdown-item" href="{% url 'read_pelanggan' %}">Master Pelanggan</a></li>
          </ul>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'input_penjualan' %}">Transaksi Penjualan</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Laporan
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" target="_blank" href="">Laporan Produk</a></li>
            <li><a class="dropdown-item"target="_blank" href="{% url 'lap_pelanggan' %}" >Laporan Pelanggan</a></li>
            <li><a class="dropdown-item" href="">Laporan Penjualan</a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex">
        <button type="button" class="btn btn-danger" onclick="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
</header>
<div class="container">

{% block main %}
{% endblock %}

    

</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static '/vendor/formrepeater/jquery.repeater.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-touchspin/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js' %}"></script>

<script>
    new DataTable('#tabel_rifqi32');
</script>
<script>
function logout() {
    let text = 'Yakin Ingin logout.?';
    if (confirm(text) == true) {
        window.location.href = 'logout';  
    } else {
        window.location.href = '';  
    }
}

</script>
{% block js %}
{% endblock %}

</html>

    
    
